{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block head %}{% endblock head %}
</head>
<body>
    {% block header %}{% endblock header %}
    {% block conteudo %}
    <h1 class="text-green-400 text-center"></h1>
    {% endblock conteudo %}
    {% block script %}{% endblock script %}
</body>
</html>